* {
  color: #ffaa00;
  background-color: #000000;
  margin: 0.2vw;
  padding: 0.2vw;
  font-family: "Fira Mono", "Lucida Console", "Courier New", monospace;
}

html {
  width: 95vw;
}

a:link, a:visited, a:hover, a:active {
  color: #ffaa00;
  padding: 0;
  margin: 0;
}

.box-header {
  float: right;
  width: 80%;
  padding-top: 4%;
  padding-bottom: 3%;
  padding-left: 5%;
}

.nav-bar {
  float: left;
  width: 10%;
  padding-top: 8%;
  padding-left: 3%;
}

.box-subheader {
  float: left;
  width: 75%;
  line-height: 2;
  padding-left: 5%;
}

.box-content {
  float: left;
  width: 50%;
  line-height: 1.5;
  padding-left: 5%;
}

.box-music-list {
  float: left;
  width: 80%;
  line-height: 1.5;
  padding-left: 5%;
}

.box-image img {
  float: right;
  height: 40%;
  width: 40%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
}

table {
  table-layout: fixed;
  width: 60%;
}

thead th {
  width: 40%;
}

th, td {
  padding: 0.2vw;
}

@media only screen and (max-width: 768px) {

  html {
    width: auto;
}

  [class*="box-"]{
    width: 94%;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
  }

  .box-header {
    text-align: center;
    padding-top: 5%;
  }

  .nav-bar{
    float: right;
    position: relative;
    left: -75%;
    line-height: 2;
  }

  .box-image img {
    float: right;
    height: 80%;
    width: 80%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
  }

  p {
    padding-top: 3%;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  thead th {
    width: 47%;
  }
}