.header {
  float: right;
  width: 75%;
  padding-bottom: 15%;
}

.column-left {
  float: left;
  width: 20%;
  padding-top: 10%;
  padding-left: 2%;
}

.column-right {
  float: right;
  width: 75%;
}

