* {
  color: #ffffff;
  background-color: #000000;
  margin: 0.2vw;
  padding: 0.2vw;
  font-family: "Fira Mono", "Lucida Console", "Courier New", monospace;
}

html {
  width: 98vw;
}

a:link, a:visited, a:hover, a:active {
  color: #ffffff;
}

.box-content {
  width: 50%;
  line-height: 1.5;
  padding-left: 10%;
}

@media only screen and (max-width: 768px) {
  [class*="box-"]{
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  p {
    padding-top: 3%;
  }
}